<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database_Library.Properties.Settings.psua0218_1026970ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=psua0218_1026970;Persist Security Info=True;User ID=psua0218_1026970;Password=Password1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>